<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Respuesta</title>
</head>
<div class="card">
    <h1 class="display-3">Busqueda</h1>
</div>
    
<body>
    <p>
        
        <div class="p-3 mb-2 bg-secondary text-white"><h1>{{message}}</h1></div>

        <h1>dentro del conjunto de películas</h1>

        <div class="container-sm">{{mensaje}}</div>

    </p>

</body>
</html>